@model IEnumerable<TME.Models.Mentor>
@{
    ViewData["Title"] = "Index";
}

<style>
  .modal-lg {
    max-width: 60% !important;
  }
</style>




<div id="wrapper">
  <!-- Top Bar Start -->
  <!-- ============================================================== -->
  @await Html.PartialAsync("_LayoutHeader")
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <!-- Start content -->
    <div class="content">

      <div class="container-fluid">
        <div class="page-title-box">
          <div class="row align-items-center">
            <div class="col-sm-6">
              <h4 class="page-title">Mentors</h4>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Mentors</a></li>
                @*<li class="breadcrumb-item active">Data Table</li>*@
              </ol>
            </div>
            <div class="col-sm-6">
              <div class="float-right d-none d-md-block">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg" aria-expanded="false">
                    + Add Mentor
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item"
                       href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item"
                                                           href="#">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
        <!-- Begining of the modal-->
        <!--  Modal content for the above example -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">
                  Add Mentor
                </h5><button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  ×
                </button>
              </div>
              <div class="modal-body">
                <form>

                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">

                        <div class="row ">
                          <div class="form-group col-md-4">
                            <label>First Name*</label>
                            <input type="text" required id="FirstName" name="FirstName" class="colorpicker-default form-control" placeholder="Firstname">
                          </div>
                          <div class="form-group col-md-4">
                            <label>Last Name*</label>
                            <input type="text" required id="LastName" name="LastName" class="colorpicker-default form-control" placeholder="Lastname">
                          </div>
                          <div class="form-group col-md-4">
                            <label>Nick Name</label>
                            <input type="text" id="NickName" name="NickName" class="colorpicker-default form-control" placeholder="Nick Name">
                          </div>
                        </div>

                        <div class="row ">
                          <div class="form-group col-md-4">
                            <label>Email*</label>
                            <input type="email" required id="Email" name="Email" class="colorpicker-default form-control" placeholder="email@website.com">
                          </div>
                          <div class="form-group col-md-4">
                            <label>Phone Number 1*</label>
                            <input type="text" required id="PhoneNumberMobile" name="PhoneNumberMobile" class="colorpicker-default form-control" placeholder="Primary (mobile)">
                          </div>
                          <div class="form-group col-md-4">
                            <label>Phone Number 2</label>
                            <input type="text" id="PhoneNumberWork" name="PhoneNumberWork" class="colorpicker-default form-control" placeholder="Secondary (work)">
                          </div>
                        </div>

                        <div class="row ">
                          <div class="form-group col-md-12">
                            <label> Address*</label>
                            <input type="text" required id="Address" name="Address" class="colorpicker-default form-control" placeholder="Street No & Name" />
                          </div>
                        </div>

                        <div class="row ">
                          <div class="form-group col-md-4">
                            <label>City*</label>
                            <input type="text" required id="City" name="City" class="colorpicker-default form-control" placeholder="City">
                          </div>
                          <div class="form-group col-md-4">
                            <label>Province*</label>
                            <input type="text" required id="Province" name="Province" class="colorpicker-default form-control" placeholder="Province">
                          </div>
                          <div class="form-group col-md-4">
                            <label>Country*</label>
                            <input type="text" required id="Country" name="Country" class="colorpicker-default form-control" placeholder=" Country">
                          </div>
                        </div>

                        <div class="row ">
                          <div class="form-group col-md-4">
                            <label>Industires</label>
                            <textarea type="text" id="Industry" name="Industry" class="colorpicker-default form-control" placeholder="List of Indusries"></textarea>
                          </div>
                          <div class="form-group col-md-4">
                            <label>Expertise</label>
                            <textarea type="text" id="Expertise" name="Expertise" class="colorpicker-default form-control" placeholder="List of Areas of Exprtise"></textarea>
                          </div>
                          <div class="form-group col-md-4">
                            <label>Interest</label>
                            <textarea type="text" id="Interest" name="Interest" class="colorpicker-default form-control" placeholder="List of Interests"></textarea>
                          </div>
                        </div>

                        <div class="row ">
                          <div class="form-group col-md-8">
                            <label>Profile</label>
                            <textarea type="text" id="Profile" name="Profile" class="colorpicker-default form-control" placeholder="Brief Profile"></textarea>
                          </div>
                          <div class="form-group col-md-4">
                          </div>
                        </div>

                        @*<div class="row ">
                            <div class="form-group col-md-3">
                              <label>Assign Teams</label>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  Team A
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  Team B
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  Team C
                                </label>
                              </div>
                            </div>
                            <div class="form-group col-md-3">
                              <label></label>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  Team D
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  Team E
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  Team F
                                </label>
                              </div>

                            </div>
                          </div>*@
                      </div>


                      @*<div class="col-md-3">
                          <div class="row">
                            <div class="form-group col-md-2">
                              <div class="col-md-2 ml-auto">
                                <img src="~/images/passportphoto.jpg" />
                              </div>

                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-md-2">
                              <div class="col-md-2 ml-auto">
                                <label>Attachments</label>
                                <p><u>Profile.docx</u></p>
                              </div>
                            </div>
                          </div>
                        </div>*@

                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="submitMentor" name="submitMentor" type="button" class="btn btn-primary" data-dismiss="modal">Add Mentor</button>
                  </div>
                </form>

              </div>

            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- End of the Modal-->
        <!-- end row -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="mt-0 header-title"></h4>
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="mt-0 header-title m-b-20"></h4>
                        <form class="repeater" enctype="multipart/form-data">
                          <div data-repeater-list="group-a">
                            <div data-repeater-item class="row">
                              <div class="form-group col-lg-4"></div>
                              <div class="form-group col-lg-4">
                                <label for=""></label> <input type="text" id="name" placeholder=" To search - type namee or email and press Enter ..." class="form-control">
                              </div>

                              @*<div class="col-lg-1 align-self-center">
                                    <input data-repeater-delete type="button" class="btn btn-primary btn-block" value="Search">
                                </div>*@
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div><!-- end row -->
                @*<p class="text-muted m-b-30">
                      DataTables has most features enabled by default, so all
                      you need to do to use it with your own tables is to call the construction
                      function: <code>$().DataTable();</code>.
                  </p>*@
                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap"
                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                  <thead>
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Cell</th>
                      <th>Email</th>
                      <th>Status</th>
                      <th>Date Added</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                      <td>@item.FirstName</td>
                      <td>@item.LastName</td>
                      <td>@item.PhoneNumberMobile</td>
                      <td>@item.Email</td>
                      <td>
                        @if (item.IsActive)
                          {
                        <a class="btn btn-sm btn-success">Active</a>
                          }
                          else
                          {
                        <a class="btn btn-sm btn-danger">Not Active</a>
                          }
                      </td>
                      <td>@item.DateCreated.ToString("MMM dd, yyyy")</td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- container-fluid -->
    </div>
  </div>
</div>


<!-- jQuery  -->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/metisMenu.min.js"></script>
<script src="~/assets/js/jquery.slimscroll.js"></script>
<script src="~/assets/js/waves.min.js"></script>



<script src="~/plugins/chartist/js/chartist.min.js"></script>
<script src="~/plugins/chartist/js/chartist-plugin-tooltip.min.js"></script><!-- peity JS -->
<script src="~/plugins/peity-chart/jquery.peity.min.js"></script>
<script src="~/assets/pages/dashboard.js"></script><!-- App js -->
<script src="~/assets/js/app.js"></script>

<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script><!-- Buttons examples -->
<script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/datatables/jszip.min.js"></script>
<script src="~/plugins/datatables/pdfmake.min.js"></script>
<script src="~/plugins/datatables/vfs_fonts.js"></script>
<script src="~/plugins/datatables/buttons.html5.min.js"></script>
<script src="~/plugins/datatables/buttons.print.min.js"></script>
<script src="~/plugins/datatables/buttons.colVis.min.js"></script><!-- Responsive examples -->
<script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script><!-- Datatable init js -->
<script src="assets/js/app.js"></script>

<script src="~/assets/pages/datatables.init.js"></script>

@*<script src="~/assets/pages/sweet-alert.init.js" aria-hidden="true"></script>*@
<script src="~/plugins/sweet-alert2/sweetalert2.min.js" aria-hidden="true"></script>


@*@section Scripts {*@

<script type="text/javascript">

  $(document).ready(function () {

    $("#submitMentor").click(function (event) {

      event.preventDefault();

      var PostMentor = {
        FirstName: $("#FirstName").val(),
        LastName: $("#LastName").val(),
        NickName: $("#NickName").val(),
        Email: $("#Email").val(),
        PhoneNumberMobile: $("#PhoneNumberMobile").val(),
        PhoneNumberWork: $("#PhoneNumberWork").val(),
        Address: $("#Address").val(),
        City: $("#City").val(),
        Province: $("#Province").val(),
        Country: $("#Country").val(),
        Industry: $("#Industry").val(),
        Expertise: $("#Expertise").val(),
        Interest: $("#Interest").val(),
        Profile: $("#Profile").val(),
      };


      console.log(PostMentor);

      $.ajax({
        type: "POST",
        url: "/Mentors/AddMentor",
        data: JSON.stringify(PostMentor),
        dataType: "json",
        contentType: 'application/json; charset=utf-8',
        headers: {
          RequestVerificationToken:
            $('input:hidden[name="__RequestVerificationToken"]').val()
        },
        success: function (r) {

          if (r.msg == "Success") {
            
            window.location.reload();

          } else if (r.msg == "Fail") {

            alert(r.msg);

          } else if (r.msg == "No Data") {
            alert(r.msg);

          } else {
            alert(r.msg);
          }
          //alert(r.msg);
          // window.location.reload();

        },
        error: function () {
          alert(r.msg);
        }
      });
    });
  });

</script>
@*}*@


